<div class="container mt-5">
  @if (isLoading) {
    <div class="text-center mt-5">
      <div class="spinner-border text-primary"></div>

      <h5 class="mt-3">Loading Product...</h5>
    </div>
  } @else if (product) {
    <div class="card shadow-lg border-0 rounded-4">
      <div class="card-header bg-primary text-white py-3">
        <h3 class="mb-0">Product Details</h3>
      </div>

      <div class="card-body p-4">
        <div class="row mb-3">
          <div class="col-md-4 fw-bold">ID</div>
          <div class="col-md-8">{{ product.id }}</div>
        </div>

        <hr />

        <div class="row mb-3">
          <div class="col-md-4 fw-bold">Name</div>
          <div class="col-md-8">{{ product.name }}</div>
        </div>

        <hr />

        <div class="row mb-3">
          <div class="col-md-4 fw-bold">Description</div>
          <div class="col-md-8">{{ product.description }}</div>
        </div>

        <hr />

        <div class="row mb-3">
          <div class="col-md-4 fw-bold">Price</div>
          <div class="col-md-8">
            {{ product.price | number }}

            ৳
          </div>
        </div>

        <hr />

        <div class="row mb-3">
          <div class="col-md-4 fw-bold">Quantity</div>
          <div class="col-md-8">
            {{ product.quantity }}
          </div>
        </div>

        <hr />

        <div class="row mb-3">
          <div class="col-md-4 fw-bold">Created Date</div>
          <div class="col-md-8">
            {{ product.createdDate | date: 'dd MMM yyyy' }}
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-md-4 fw-bold">Updated Date</div>

          <div class="col-md-8">
            @if (product.updatedDate) {
              {{ product.updatedDate | date: 'dd MMM yyyy' }}
            } @else {
              <span class="text-muted"> Not Updated </span>
            }
          </div>
        </div>
      </div>

      <div class="card-footer bg-white">
        <div class="d-flex justify-content-end gap-2">
          <a routerLink="/user/products" class="btn btn-outline-primary rounded-pill px-4">
            ← Back
          </a>

          <a
            [routerLink]="['/user/products/edit', product.id]"
            class="btn btn-outline-secondary rounded-pill px-4"
          >
            Edit
          </a>

          <a
            [routerLink]="['/user/products']"
            [queryParams]="{ openDelete: product.id }"
            class="btn btn-outline-danger rounded-pill px-4"
          >
            Delete
          </a>
        </div>
      </div>
    </div>
  } @else {
    <div class="alert alert-danger text-center">Product Not Found.</div>
  }
</div>
